name: Docker Main Build CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: docker-login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER_ANTASMES }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD_ANTASMES }}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: docker build nodeJS
      run: |
        docker build ./src -t antasmes/zr-mainservice:latest
    - name: docker-push
      run: |
        docker push antasmes/zr-mainservice:latest
